
body {
    margin: 0;
    font-family: Arial;
}

.container {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.page_header {
width: 100%;
min-height: 275px;
background-color: #445161;
padding: 25px 0 0 0;
box-sizing: border-box;
color: #fff;
margin: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.page_header_wrapper {   
box-sizing: border-box;
margin: 0 0 0 50px;
}

.page_header_title {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    margin: 0 0 40px 0;

}

.page_header_list {
    width: 100%;
    margin: 0;
    list-style-type: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    padding: 0;
    list-style-image: url(img/Vector.png)
}

.page_header_list_item {
    margin-bottom: 1em;
}

.page_header_image {
display: block;
width: 472px;
min-height: 217px;
background-color: #fff;
box-sizing: border-box;
margin: 25px 50px 33px 0;
}

.section2 {
    width: 100%;
    min-height: 275px;
    background-color: #fff;
    margin: 0;
    color: #445161;
    box-sizing: border-box;
    display: flex;
flex-direction: row;
justify-content: space-between;
}

.section2_wrapper {
    max-width: 696px;
    box-sizing: border-box;
    margin: 0 0 0 0px;
    padding: 45px 0 0 50px;
}

.section2_title {
    margin: 0 0 0 0;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 17px;
}

.section2_text {
margin: 0 0 0 0;
font-size: 16px;
line-height: 24px;
margin-bottom: 1em;
}

.page_section2_video {
    display: block;
    box-sizing: border-box;
    width: 430px;
    min-height: 245px;
    margin: 45px  50px 50px 0px;
}

.section3 {
    width: 100%;
    min-height: 400px;
    background-color:#F5F5F5;
    margin: 0;
    color:#333333;
    box-sizing: border-box;
    padding-top: 25px;
}

.section3_wrapper {
    width: 100%;
    margin: 0;
    padding: 0 0 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section3_title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    text-align: center;
    margin: 0 0 22px 0;
}

.section3_list1 {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.section3_list2 {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.section3_list_item {
    padding-left: 42px;
    background: url(img/plus_icon.png) no-repeat 0 4px;
    margin-bottom: 26px;
}

.section_screenshots {
    width: 100%;
    min-height: 490px;
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    padding-top: 25px;
}

.screenshots_title {
text-align: center;
font-size: 30px;
line-height: 36px;
color: #445161;
margin: 0 0 45px 0;
}

.screenshots_wrapper {
    width: 100%;
    max-height: 384px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screenshots_figure {
    width: 604px;
    min-height: 150px;
    box-sizing: border-box;
    margin: 0 0 27px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.screenshots_figure_image {
    display: block;
    box-sizing: border-box;
    width: 202px;
    min-height: 153px;
    background-color:#445161;
    margin: 0 0 0 50px;
}

.screenshots_figurecaption {
    max-width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.screenshots_figurecaption_title {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin: 0 0 0 14px;
}

.screenshots_figurecaption_text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin: 0 0 0 14px;
}

.reviews {
width: 100%;
max-height: 400px;
background-color: #F5F5F5;
box-sizing: border-box;
margin: 0;
padding: 20px 50px 0 20px;
display: flex;
flex-wrap: wrap;
}

.reviews_title { 
width: 100%;
box-sizing: border-box;
margin: 0 0 31px 0;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #445161;
text-align: center;
vertical-align: bottom;
}

.review_item {
width: 564px;
min-height: 121px;
box-sizing: border-box;
margin: 0 0 24px 30px;
display: flex;
flex-direction: row;
}

.review_item_photo {
width: 66px;
height: 66px;
border-radius: 50%;
box-sizing: border-box;
margin: 0;
background-color: #445161;
}

.review_item_text {
width: 483px;
height: 93px;
box-sizing: border-box;
margin: 0 0 0 15px;
background-color: #EBEBEB;
border-radius: 5px;
font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 18px;
padding: 16px 10px 0 15px;
position: relative;
}

.review_item_author {
width: 483px;
height: 28px;
display: block;
color: #989898;
background-color: #EBEBEB;
font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 14px;
line-height: 18px;
margin: 0 0 0 15px;
box-sizing: border-box;
padding: 0 0 0 15px;
}

.review_item_text:before {
    content: "";
    position: absolute;
    top: 38px;
    left: -24px; 
    border: 12px solid transparent;	
    border-right: 12px solid;
    color: #EBEBEB;
}

.buy_it {
    width: 100%;
    max-height: 642px;
    box-sizing: border-box;
    padding: 45px 0 0 0;
    margin: 0;
    display: block;
}

.buy_it_package_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.buy_it_title {
    font-size: 30px;
    line-height: 36px;
    width: 100%;
    color: #445161;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: 0 0 26px 0;
    background-color:  #FFFFFF;
}


.buy_it_package {
    width: 300px;
    min-height: 306px;
    box-sizing: border-box;
    margin: 0 45px 36px 45px;
    background-color: #445162;
    border: 2px solid #445162;
    border-radius: 5px;

}

.buy_it_package_title {
    width: 100%;
    font-size: 24px;
    line-height: 51px;
    color: #FFFFFF;
    background-color: #445162;
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 0;

}

.buy_it_package_price {
    width: 100%;
    font-size: 40px;
    line-height: 71px;
    display: block;
    color:  #445162;
    background-color:  #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    margin: 0;

}

.buy_it_package_list_wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #445162;
    padding: 8px 8px 0 0;

}

.buy_it_package_list {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
}

.buy_it_package_button {
    box-sizing: border-box;
    width: 262px;
    min-height: 43px;
    display: block;
    margin: 16px 19px 19px 19px;
    background-color: #FFFFFF;;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #445162;
    border-radius: 5px;
    border: none;
}

.buy_it_package_button:hover {
    color: #FFFFFF;
    background-color:#445162;
    border:1px solid #FFFFFF
}

.footer {
     width: 100%;
     min-height: 509px;
     background-color: #445162;   
     margin: 0;
     color: #FFFFFF;
     box-sizing: border-box;
     padding: 25px 0 0 0;
     display: flex;
     flex-wrap: wrap;
}
 
.footer_title {
    font-size: 30px;
    line-height: 36px;
    max-height: 36px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: 0 0 43px 0;
    color:  #FFFFFF;
}

.footer_form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 48px 247px;
    box-sizing: border-box;
}

.footer_form_text {
    width: 503px;
    height: 43px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin: 0 0 18px 0;
    border-radius: 5px;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
}

.footer_form_text::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162ba;
    padding: 12px 12px 7px 12px;

}

.footer_form_text::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 12px 12px 7px 12px;
}

.footer_form_text::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 12px 12px 7px 12px;
}

.footer_form_email {
    width: 503px;
    height: 43px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin: 0 0 18px 0;
    border-radius: 5px;
    border:none;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
}

.footer_form_email::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 12px 12px 7px 12px;

}

.footer_form_email::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 12px 12px 7px 12px;
}

.footer_form_email::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 12px 12px 7px 12px;
}

.footer_form_textarea {
    width: 503px;
    height: 173px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin: 0 0 18px 0;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    resize: none;
    word-break: break-all;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
}

.footer_form_textarea::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 11px 12px 7px 12px;
}

.footer_form_textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 11px 12px 7px 12px;
}

.footer_form_textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 11px 12px 7px 12px;
}

.footer_form_button {
    width: 143px;
    min-height: 43px;
    background: #FFFFFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    align-self: center;
    border:none;
}

.footer_form_button:hover {
    color: #FFFFFF;
    background-color:#445162;
    border:1px solid #FFFFFF
}

.footerwrapper {
    width: 100;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding-left: 49px;
}

.footer_list_contacts {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer_list_contacts_item {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px 0;
}

.fa-skype:before {
    content: "\f17e";
    line-height: 1em;
    margin-left: 3px;
    margin-right: 10px;
}

.icon-icq:before {
    content: '\f304';
    padding: 0 6px 0 0;
    margin: 0;
}

.fa-at:before {
    content: "\f1fa";
    margin-right: 10px;
    margin-left: 3px;
}

.fa-phone-alt:before {
    content: "\f879";
    margin-right: 10px;
    margin-left: 3px;
}

.footer_list_icons {
width: 100%;
display: flex;
flex-direction: row;
}

.footer_list_icons_item {
width: 47px;
height: 47px;
margin-right: 7px;
}

.footer_list_icons_1 { 
background-image: url(../img/twitter.svg);
background-repeat: no-repeat;    
}

.footer_list_icons_2 { 
    background-image: url(../img/vk.svg);
    background-repeat: no-repeat;    
}

.footer_list_icons_3 { 
        background-image: url(../img/g+.svg);
        background-repeat: no-repeat;    
}

.footer_list_icons_4 { 
    background-image: url(../img/f.svg);
    background-repeat: no-repeat;    
}